.loginContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: top;
    justify-content: center;
    background-color: rgba(0, 89, 255,0.08);
}
.loginWrapper{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginLeft{
    width: 50%;
    text-align: start;
}
.loginLeft>h1{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: rgb(0, 89, 255);
}
.loginLeft>p{
    font-size: 18px;
    letter-spacing: 0.4px;
}

.loginRight{
    background-color: white;
    padding: 25px;
    margin-left: 30px;
    border-radius: 20px;
}
.loginRight>form{
    flex-direction: column;
}
.loginRight>form>*{
    margin: 7px 0;
}
.loginRight>form>input{
    padding: 15px 20px;
    width: 25vw;
    border-radius: 20px;
    outline: none;
    font-size: 17px;
    border: 1px solid grey;
}

.loginRight>form>input[type=submit]{
    background-color: rgb(0, 89, 255);
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.loginRight>form>p{
    margin: 10px 0;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(0, 89, 255);
}
.createAccBtn{
    background-color: green;
}